<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Flow Tree</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div id="tree"></div>
      </div>
    </div>
  </div>
</div>