<h2>Queue <code>{{ name }}</code></h2>

<h3>400</h3>
<p>Job state <code>{{ state }}</code> does not exist</p>
<p>
  <a href="/dashboard/{{ name }}" class="btn btn-primary">Go back to {{ name }}</a>
</p>
